body {
	width: 1000px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 12px;
	color: #a0a0a0;
	background-color: #000;
	font-family: Calibri, Helvetica, sans-serif;
	/* Hide body until dynamic elements load. */
	visibility: hidden;
}

.centered {
	margin: 0 auto;
	width: 100%;
}

td, .time {
	font-family: Consolas, monospace;
}

#militaryContainer {
	float: right;
}

#hoursMinutesContainer {
	clear: right;
	display: flex;
	vertical-align: bottom;
}

#hours, #minutes {
	padding: 5pt;
	border: 1px solid #a0a0a0;
	border-radius: 5pt;
	font-size: 20pt;
}
#hours {
	margin-right: 15pt;
}
td {
	padding-right: 5pt;
}
caption {
	text-align: left;
}

#timesContainer {
	display: flex;
	justify-content: center;
	vertical-align: bottom;
}

#currentTime {
	text-align: left;
	align-self: baseline;
}
#alarmTime {
	flex: 1;
	font-size: 86pt;
	text-align: center;
	align-self: baseline;
}
#timeLeft {
	text-align: right;
	align-self: baseline;
}

#currentTime, #timeLeft {
	font-size: 40pt;
}

a:link {
	color: #d05050;
}
a:visited {
	color: #a0a0a0;
}

input[type="checkbox"] {
	width: 12pt;
	height: 12pt;
}
label {
	font-size: 22pt;
	user-select: none;
}

#footer {
	font-size: 14pt;
	margin: 10px 0 0 0;
	text-align: center;
}
#logo {
	width: 100%;
	margin-top: 25px;
}







ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 5px;
	background-color: #3570a5;
}
li.nav {
	float: left;
}
li.nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li.nav:hover:not(.active) {
	background-color: #5085c0;
}
li.nav.active {
	color: white;
	background-color: #b05050;
}

button {
	display: block;
	color: white;
	background-color: #3570a5;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	display: inline-block;
	font-size: 16px;
}
button:hover {
	background-color: #5085c0;
}
