.flex-container {
	display: flex;
	justify-content: center;
}

body {
	width: 920px;
	height: 100%;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	padding-top: 12px;
	color: #a0a0a0;
	background-color: #000;
	font-family: Calibri, Helvetica, sans-serif;
	user-select: none;
	/* Hide body until dynamic elements load. */
	visibility: hidden;
}

/* 24-hour time checkbox */

#military-container {
	float: right;
}
#military-container > input {
	width: 12pt;
	height: 12pt;
}
#military-container > label {
	font-size: 22pt;
}

/* Alarm hours and minutes UI */

#h-m-container {
	clear: right;
	display: flex;
	justify-content: space-between;
}
#hours, #minutes {
	padding: 5pt;
	border: 1px solid #a0a0a0;
	border-radius: 5pt;
	font-size: 20pt;
}
#hours {
	width: 480px;
}
#minutes {
	margin-left: auto;
}
caption {
	text-align: left;
}
.time {
	padding-left: 4pt;
	padding-right: 4pt;
	border-radius: 5pt;
}
.time.selected {
	color: #000;
	background-color: #a0a0a0;
}
.time:hover {
	color: #000;
	background-color: #ccc;
}

/* Times */

#alarm-time {
	font-size: 128pt;
	text-align: center;
	align-self: baseline;
}
#cur-time {
	flex: 1;
	font-size: 40pt;
	text-align: left;
	align-self: baseline;
}
#time-left {
	flex: 1;
	font-size: 40pt;
	text-align: right;
	align-self: baseline;
}

/* Buttons */

button {
	color: #000;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	margin: 10px 10px 0 0;
}
#snooze {
	font-size: 48pt;
	background-color: #3570a5;
	padding: 14px 24px;
}
#snooze:hover {
	background-color: #5085c0;
}
#stop {
	font-size: 24pt;
	background-color: #a53535;
	padding: 14px 16px;
}
#stop:hover {
	background-color: #c05050;
}
#snooze:disabled, #stop:disabled {
	background-color: #303030;
}

/* Footer */

#footer {
	width: 100%;
	position: fixed;
	top: 100%;
	transform: translateY(-135%);
	text-align: center;
	font-size: 14pt;
	z-index: -1;
	user-select: text;
}
#logo {
	margin-top: 25px;
}

/* Links */

a:link {
	color: #d05050;
}
a:visited {
	color: #a0a0a0;
}
