body {
	position: fixed;
	left: 50%;
	transform: translateX(-51%);
	color: #a0a0a0;
	background-color: #000;
	font-family: Calibri, Helvetica, sans-serif;
	user-select: none;
	/* Hide body until dynamic elements load. */
	visibility: hidden;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.selectable {
	padding-left: 4pt;
	padding-right: 4pt;
	border-radius: 5pt;
	text-align: center;
}
.selectable:hover {
	color: #000;
	background-color: #ccc;
}
.selected {
	color: #000;
	background-color: #a0a0a0;
}

.fill {
	flex: 1;
}

#content {
	width: 100%;
}

/* Alarm clock/countdown checkbox */

#mode-container {
	float: left;
	font-size: 18pt;
}

/* Time format checkbox */

#format-container {
	position: fixed;
	right: 0;
	font-size: 18pt;
}

/* Times */

#cur {
	flex: 1;
	text-align: left;
	align-self: baseline;
}
#cur-time {
	font-size: 40pt;
}
#cur-am-pm {
	font-size: 28pt;
}
#alarm {
	text-align: center;
	align-self: baseline;
}
#alarm-time {
	font-size: 128pt;
	align-self: baseline;
}
#alarm-am-pm {
	font-size: 64pt;
	align-self: baseline;
}
#time-left {
	flex: 1;
	font-size: 40pt;
	text-align: right;
	align-self: baseline;
}

/* Alarm hours and minutes UI */

#h-m-container {
	display: flex;
	justify-content: space-between;
}
#hours, #minutes {
	padding: 5pt;
	border: 1px solid #a0a0a0;
	border-radius: 5pt;
	font-size: 20pt;
}
#hours {
	width: 48%;
}
#minutes {
	width: 48%;
}
caption {
	text-align: left;
}

/* Buttons */

button {
	color: #000;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	margin: 10px 10px 0 0;
}
#snooze {
	font-size: 48pt;
	background-color: #3570a5;
	padding: 14px 24px;
	margin-top: 32px;
}
#snooze:hover {
	background-color: #5085c0;
}
#stop {
	font-size: 24pt;
	background-color: #a53535;
	padding: 14px 16px;
}
#stop:hover {
	background-color: #c05050;
}
#snooze:disabled, #stop:disabled {
	background-color: #303030;
}

/* Footer */

#footer {
	flex: 1;
	text-align: right;
	align-self: flex-end;
}
#created-by {
	font-size: 14pt;
	user-select: text;
}
#logo {
	transform: translateY(29%);
}

/* Links */

a:link {
	color: #d05050;
}
a:visited {
	color: #a0a0a0;
}
